body {
  font-family: "Encode Sans", sans-serif;
}

.logo {
  width: 171px;
}

.head {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linha {
  height: 1px;
  width: 80%;
  background-color: #ebedef;
}
.menus {
  height: 45px;
  border-bottom: 1px solid #f5f6f7;
  border-top: 1px solid #f5f6f7;
}
.menu {
  color: #f5f6f7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.g1 {
  color: #c3170c;
}
.globo {
  color: #1e4b9b;
}
.valor {
  color: #006766;
}
.ge {
  color: #07aa47;
}
.cartola {
  color: #e3662b;
}
.globoplay {
  color: #fb0735;
}
.dropz {
  color: #ff75bb;
}
.gshow {
  color: #ec7d00;
}
.quem {
  color: #323333;
}
.receitas {
  color: #a81d83;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.vermelho {
  color: #c4160c;
}
.preto {
  color: #303134;
}
.verde {
  color: #24b35e;
}
.laranja {
  color: #ec8006;
}

.horizontal {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.imgnot1 {
  border-radius: 12px;
  width: 193px;
}
.imgnot2 {
  border-radius: 12px;
  width: 240px;
}
